<div class="container section-content background_all_pages community">
  <h5 class="text">Final Space Forum</h5>

  <div class="community_container">
    <div><a href="/community/divisions/{{divisionId}}">Back</a></div>
    <h6>{{themeTitle}}</h6>
    <div data-name="postContainer" class="posts_container">
      <ul>
        {{#each posts}}
        <hr>
        <li class="post">{{this.text}}
          {{#if this.file}}
          <img src="{{this.file}}" width="300px">
          {{/if}}
        </li>
        <hr>
        {{/each}}
      </ul>
    </div>
    <form enctype="multipart/form-data" data-name="postForm" class="post_text" action="/community/themes/{{themeId}}/posts" method="POST">
      <ul data-name="smilesContainer" class="smiles_container hidden">
        {{#each smiles}}
        <li id="{{this._id}}">{{this.image}}</li>
        {{/each}}
      </ul>
      <textarea name="postText" data-name="postText" cols="68" rows="5" placeholder="Add post text"></textarea>
      <div class="under_text">
        <div class="forum-icons">
          <p data-name="smile" class="smiles">&#128512;</p>
          <input class="file" type="file" name="file">
        </div>
        <button class="btn btn-info btn-lg">Post message</button>
      </div>
    </form>
  </div>
</div>
