<div class="container list">
  <ul class="list--element item_list--element shadows">
    <div class="search_images">
      <img src="{{data.img_url}}" alt="">
    </div>
    <div>
      <li><span class="blue">Name</span>: {{data.name}}</li>
      <li><span class="blue">Status</span>: {{data.status}}</li>
      <li><span class="blue">Species</span>: {{data.species}}</li>
      <li><span class="blue">Gender</span>: {{data.gender}}</li>
      <li><span class="blue">Hair</span>: {{data.hair}}</li>
      <li><span class="blue">Origin</span>: {{data.origin}}</li>
      <li><span class="blue">Abilities</span>:
        {{#if abilities}}
        <ul class="abilitites">
          {{#each abilities}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
        {{else}}<span>Unknown</span>
        {{/if}}
      </li>
    </div>
  </ul>
</div>
