<div class="container list">
  <ul class="list--element item_list--element">
    <div class="search_images">
      <img src="{{data.img_url}}" alt="">
    </div>
    <div>
      <li><b>Name</b>: {{data.name}}</li>
      <li><b>Status</b>: {{data.status}}</li>
      <li><b>Species</b>: {{data.species}}</li>
      <li><b>Gender</b>: {{data.gender}}</li>
      <li><b>Hair</b>: {{data.hair}}</li>
      <li><b>Origin</b>: {{data.origin}}</li>
      <li><b>Abilities</b>:
        {{#if abilities}}
        <ul class="abilitites">
          {{#each abilities}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
        {{else}}<span>Unknown</span>
        {{/if}}
      </li>
    </div>
  </ul>
</div>
