<div class="character">
  <ul>
    <img src="{{data.img_url}}" alt="">
    <li>Name: {{data.name}}</li>
    <li>Status: {{data.status}}</li>
    <li>Species: {{data.species}}</li>
    <li>Gender: {{data.gender}}</li>
    <li>Hair: {{data.hair}}</li>
    <li>Origin: {{data.origin}}</li>
    <li>Abilities:
      <ul class="abilitites">
        {{#each abilities}}
        <li>{{this}}</li>
        {{/each}}
      </ul>

    </li>
  </ul>
</div>
