<div class="container list">
  <ul class="list--element item_list--element shadows">
    <div class="search_images">
      <img src="{{data.img_url}}" alt="" width="400px">
    </div>
    <div>
      <li><span class="blue">Name</span>: {{data.name}}</li>
      <li><span class="blue">Air date</span>: {{data.air_date}}</li>
      <li><span class="blue">Director</span>: {{data.director}}</li>
      <li><span class="blue">Characters</span>:
        <ul>
          {{#each data.characters}}
          <li><a href="/characters/{{id}}">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </li>
    </div>
  </ul>
</div>
