<div class="location">
  <ul>
    <img src="{{data.img_url}}" alt="">
    <li>Name: {{data.name}}</li>
    <li>Type: {{data.type}}</li>

    {{#if data.inhabitants}}
    <li>Inhabitants:
      <ul>
        {{#each data.inhabitants}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </li>
    {{else}} <li>Inhabitants: Unknown </li>
    {{/if}}

    {{#if data.notable_residents}}
    <li>Notable characters:
      <ul>
        {{#each data.notable_residents}}
        <li><a href="/characters/{{this.id}}">{{this.name}}</a></li>
        {{/each}}
      </ul>
    </li>
    {{else}} <li>Notable characters: Unknown </li>
    {{/if}}

  </ul>
</div>
