<div class="container list">
  <ul class="list--element item_list--element shadows">
    <div class="search_images">
      <img src="{{data.img_url}}" alt="">
    </div>
    <div>
      <li><span class="blue">Name</span>: {{data.name}}</li>
      <li><span class="blue">Type</span>: {{data.type}}</li>
      {{#if data.inhabitants}}
      <li><span class="blue">Inhabitants</span>:
        <ul>
          {{#each data.inhabitants}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </li>
      {{else}} <li><span class="blue">Inhabitants</span>: Unknown </li>
      {{/if}}
      {{#if data.notable_residents}}
      <li><span class="blue">Notable characters</span>:
        <ul>
          {{#each data.notable_residents}}
          <li><a href="/characters/{{this.id}}">{{this.name}}</a></li>
          {{/each}}
        </ul>
      </li>
      {{else}} <li><span class="blue">Notable characters</span>: Unknown </li>
      {{/if}}
    </div>
  </ul>
</div>
