<div class="container section-content background_all_pages themes_container">
  <h5 class="text">Final Space Forum</h5>
  <div class="shadows">
    <div class="themes_pointers">
      <p>
        <a href="/community/divisions">Back</a>
      </p>
      <p class="add">
        <a href="/community/divisions/{{divisionId}}/themes/new">+Add new</a>
      </p>
    </div>

    <ul class="forum_inline themes_header blue">
      <li class="theme">Theme</li>
      <li class="theme">Answers</li>
      <li class="theme">Author</li>
    </ul>
    {{#each themes}}
    <div class="forum_line">
      <ul class="forum_inline">
        <li class="theme"><a href="/community/themes/{{this.id}}">{{this.title}}</a></li>
        <li class="theme">{{this.answerCount}}</li>
        <li class="theme">{{this.author.username}}</li>
      </ul>
    </div>
    {{/each}}
  </div>
</div>
